@import url('https://fonts.googleapis.com/css?family=Anton|Open+Sans|Oswald|Roboto+Slab|Gloria+Hallelujah');

#intro-section {
  background-color: transparent;
  background-image: url("../images/cover-cropped-good-small.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  text-align: center;
  height: 100vh;
}

#intro-subtitle {
  font-size: 250%;
  line-height: 10%;
  font-family: 'Gloria+Hallelujah', serif;
}

#intro-title {
  font-size: 400%;
  font-family: 'Oswald', serif;
}

#contact-buttons {
  text-align: center;
}

#contact-get-in-touch {
  text-align: center;
  font-size: 125%;
  /*font-size: 1vw + 1vh;*/
  color: gray;
}

#contact-blurb-row {
    text-align: center;
}

#contact-section {
  height: 100vh;
}

#fp-nav ul li a span, .fp-slidesNav ul li a span{
    background: black;
}

#fp-nav > ul > li:nth-child(1) > div, #fp-nav > ul > li:nth-child(2) > div, #fp-nav > ul > li:nth-child(3) > div, #fp-nav > ul > li:nth-child(4) > div{
    color:black;
    font-style:italic;
    font-variant: small-caps;
}

#work-title, #travel-title{
    padding-left: 3%;
    padding-right: 3%;
    font-family: 'Oswald', serif;
    text-align: center;
    width:80%;
    margin:auto;
    margin-top: 2vh;
    padding-bottom: 3vh;
/*    border-top: solid gray;
    border-bottom: solid gray;*/
}

#work-bracket-in-pos, #work-bracket-in-pre, #travel-bracket-in-pos, #travel-bracket-in-pre{
   background-color:#fff;
   height:110px;
   width:5px;
   border-bottom:1px solid gray;
   border-top:1px solid gray;  
   margin-top: 10px;
}

#work-bracket-in-pre, #travel-bracket-in-pre {
    margin-left: 55px;
}

#work-bracket-in-pos, #travel-bracket-in-pos {
    margin-right: 55px;
}

.column.travel-image{
    padding-top: 2px;
    padding-bottom: 2px;
}

.photo-grid {
    text-align: center;
}

.photo-grid li {
    display: inline-block;
}

.photo-grid img {
    display: block;
    height: auto;
    max-width: 100%;
}

.photo-grid figure {
    overflow: hidden;
    position: relative;
}

.photo-grid figcaption {
    background: rgba(0,0,0,0.8);
    color: white;
    display: table;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
}

.photo-grid figcaption p {
    display: table-cell;
    position: relative;
    vertical-align: middle;
}

.photo-grid li:hover figcaption {
    opacity: 1;
}

.photo-grid img {
    display: block;
    height: auto;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    transition: all 300ms;
    max-width: 100%;
}

.photo-grid li:hover img {
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    transform: scale(1.4);
}

@media screen and (max-width: 768px) {
    #intro-section {
        background-position: right;
    }

    #intro-subtitle {
        padding-top: 25vh;
    }

    #contact-blurb-text {
        padding-top: 10vh;
        font-size: 140%;
    }

    #work-title, #travel-title{
        font-size: 205%;
    }

    #contact-blurb-text:after, .section-title:after {
        content:' ';
        display:block;
        border:1px solid gray;
        width:100%;
        margin:auto;
        margin-top: 5%;
    }
}

@media screen and (min-width: 768px) and (max-width: 979px) {
    #intro-section {
        background-position: right;
    }

    #contact-blurb-text {
        font-size: 175%;
    }

    #work-title, #travel-title{
        font-size: 210%;
    }

    #contact-blurb-text:after, .section-title:after {
        content:' ';
        display:block;
        border:1px solid gray;
        width:100%;
        margin:auto;
        margin-top: 5%;
    }
}

@media screen and (min-width: 979px) {
    #contact-blurb-text {
        font-size: 195%;
    }

    #work-title, #travel-title{
        font-size: 240%;
    }

    #contact-blurb-text span {
      display: inline-block;
      position: relative;  
    }

    #contact-blurb-text span:before,
    #contact-blurb-text span:after {
      content: "";
      position: absolute;
      height: 5px;
      border-top: 1px solid gray;
      top: 50%;
      width: 8vw;
    }

    #contact-blurb-text span:before {
      right: 50%;
      margin-right: 22vw;
    }

    #contact-blurb-text span:after {
      left: 50%;
      margin-left: 22vw;
    }

    .section-title span {
      display: inline-block;
      position: relative;  
    }

    .section-title span:before,
    .section-title span:after {
      content: "";
      position: absolute;
      height: 5px;
      border-top: 1px solid gray;
      top: 50%;
      width: 5vw;
    }

    .section-title span:before {
      right: 45%;
      margin-right: 20vw;
    }

    .section-title span:after {
      left: 45%;
      margin-left: 20vw;
    }
}

.work-box-title {
    font-size: 150%;
    font-weight: bold;
    color: royalblue;
}

.work-box-position {
    font-weight: bold;
    color: green;
}

.work-box-time {
    font-style: italic;
    color: green;
}

.work-box-location {
    font-weight: bold;
}

.work-box-description {
    display: inline-block;
    margin-top: 2%;
}